<section class="thank-you-ui">
    <img src=".././img/leave_tip.jpg" alt="" />
    <div class="thank-you-box">

    </div>
    <div class="thank-you-container">
        <p>
            Thank You!
        </p>
        <p>
            Based on the performance of
        </p>
        <p>
          {{serverData.first_name_last_initial}}
        </p>
        <p>
          The calculated tip percent is
        </p>
        <p>
          {{serverData.tip_percent}}
        </p>
        <p>
          The tip amount is
        </p>
        <p>
          {{serverData.tip_amount}}
        </p>
        <p>
          Your final bill total is
        </p>
        <p>
          {{serverData.final_bill_total}}
        </p>

        <!-- <p>
            Based on the performance of <strong>{{serverData.first_name_last_initial}}</strong> , he deserves a {{serverData.tip_percent}} tip. The tip amount is {{serverData.tip_amount}}. The final bill total is {{serverData.final_bill_total}}
        </p> -->
    </div>

</section>
