<section class="dashboard">
  <p class="serverNameTable">
    {{firstName}} {{lastName}}
  </p>
  <table style="border-style: solid; border-width: 2px;">
    <tr>
      <th>
          Date
      </th>
      <th>
          Customer Service
      </th>
      <th>
          Appearance
      </th>
      <th>
          Drinks
      </th>
      <th>
          timeliness
      </th>
      <th>
          Accuracy
      </th>
      <th>
          Average Score
      </th>
      <th>
          Feedback
      </th>
    </tr>
    <tr ng-repeat="item in server">
      <td>
        {{item.date_created}}
      </td>
      <td class="center-align">
        {{item.customer_service_rating}}
      </td>
      <td class="center-align">
        {{item.appearance_rating}}
      </td>
      <td class="center-align">
        {{item.drinks_rating}}
      </td>
      <td class="center-align">
        {{item.timeliness_rating}}
      </td>
      <td class="center-align">
        {{item.timeliness_rating}}
      </td>
      <td class="center-align">
        {{item.average}}
      </td>
      <td>
        {{item.feedback}}
      </td>
    </tr>
  </table>

  <div id="chart_div"></div>
</section>
